USE [master]
GO
/****** Object:  Database [Zadatak24]    Script Date: 5/21/2016 12:09:04 AM ******/
CREATE DATABASE [Zadatak24]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zadatak24', FILENAME = N'D:\DATA.SQL\SQL.2012\Zadatak24.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Zadatak24_log', FILENAME = N'D:\DATA.SQL\SQL.2012\Zadatak24_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zadatak24].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zadatak24]
GO
/****** Object:  Table [dbo].[Uspeh]    Script Date: 5/21/2016 12:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uspeh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Razred] [int] NOT NULL,
	[Odlican] [int] NOT NULL,
	[Vrlodobar] [int] NOT NULL,
	[Dobar] [int] NOT NULL,
	[Dovoljan] [int] NOT NULL,
	[Nedovoljan] [int] NOT NULL,
	[ProsecnaOcena] [float] NOT NULL,
 CONSTRAINT [PK_Uspeh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Uspeh] ON 

GO
INSERT [dbo].[Uspeh] ([Id], [Razred], [Odlican], [Vrlodobar], [Dobar], [Dovoljan], [Nedovoljan], [ProsecnaOcena]) VALUES (1, 1, 24, 67, 58, 17, 3, 4.12)
GO
INSERT [dbo].[Uspeh] ([Id], [Razred], [Odlican], [Vrlodobar], [Dobar], [Dovoljan], [Nedovoljan], [ProsecnaOcena]) VALUES (2, 2, 27, 51, 67, 22, 7, 3.45)
GO
INSERT [dbo].[Uspeh] ([Id], [Razred], [Odlican], [Vrlodobar], [Dobar], [Dovoljan], [Nedovoljan], [ProsecnaOcena]) VALUES (3, 3, 21, 58, 63, 25, 2, 3.98)
GO
SET IDENTITY_INSERT [dbo].[Uspeh] OFF
GO
USE [master]
GO
